@model Blog

@{ 
    ViewData["Title"] = "Blog | Create";
}

<h1>Create your blog below.</h1>

<form asp-action="Create" asp-controller="Blog" method="POST">
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="twelve columns">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="u-full-width" type="text" placeholder="A title for your blog">
            <span asp-validation-for="Title"></span>
        </div>
    </div>
    <div class="twelve columns">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" class="u-full-width" placeholder="Text for you blog"></textarea>
        <span asp-validation-for="Text"></span>
    </div>
    <input type="submit" class="button-primary" value="Create">
</form>