@model IEnumerable<Blog>

@{ 
    ViewData["Title"] = "Blog | Index";
}

<title>Welcome to the blog</title>
<h1>Blog articles</h1>
All the blogs are listed below <br />
@ViewData["data"]

<div asp-validation-summary="All"></div>

<div class="box_content">
    @foreach (var blog in Model)
    {
        // Display the blog titles with the author
        <ul class="blog_list">
            <li><a href="/Blog/View/@blog.Id/">@blog.Title</a></li>
        </ul>
    }
</div> <br />

<a class="button button-primary" href="/blog/create/">Create new entry</a>

